body {
    /* background-image: linear-gradient(to right top, #121212, #231e3b, #392866, #562d91, #7c2cbb); */
    /* background-image: linear-gradient(to right top, #000000, #420f1d, #820327, #c20023, #ff0000); */
    background-image: linear-gradient(to right top, #000000, #5b2b2b, #af5d34, #eca522, #fffe00);
    background-repeat: no-repeat;
    color: whitesmoke;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Montserrat', sans-serif;
}

.con {
    background-color: rgba(189, 189, 189, 0.1);
}

.H {
    font-weight: 800;
}

.G {
    width: 18pc;
}

.K {
    font-family: 'Chivo Mono', monospace;
    font-weight: 400;
    padding-top: 2pc;
}

.T {
    font-size: 4pc;
}

.row {
    --bs-gutter-x: 0;
}

.jveo {
    border: 1px solid white;
}

.carro {
    padding-right: 3rem;
    padding-left: 3rem;
    margin: 3rem;
}

.dondo {
    width: 1px;
    height: 1px;
}

.conta {
    margin: 1px;
    margin-top: auto;
}

#K:hover {
    background-color: #ffffff0c;
}

.ma {
    margin: 5px;
}

.p {
    grid-template-columns: 1fr 1fr 1fr;
}

.pie {
    height: 8pc;
}

.img {
    height: 1pc;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #ffc06c;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #ffffff;
}

.site-footer a:hover {
    color: rgba(255, 204, 0, 1);
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #ffffff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: rgba(255, 204, 0, 1);
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
    text-decoration: none;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #000000
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #eb3279
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

@media (max-width: 600px) {
    .p {
        grid-template-columns: 1fr;
        margin: 2pc;
    }

    .carro {
        padding-right: 0rem;
        padding-left: 0rem;
        margin: 1rem;
    }
}